.dashboard {
  color: #606463;
  display: flex;
}


.perfil-container {
  background-color: #9fe5dc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  width: 360px;
}


.profile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}


.profile-content h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0px;
}


.profile-image {
  background-color: #c2ece6a0;
  border-radius: 50%;
  box-shadow: 2px 5px 8px #61615c69;
  height: 180px;
  margin: 50px;
  overflow: hidden;
  width: 180px;
  padding: 20px;
}


.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-buttons {
  display: flex;
  flex-direction: column;
}


.profile-buttons button {
  background: none;
  color: #606463;
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0px;
}


.profile-buttons button:hover {
  color: #444545;
  text-decoration: underline;
}


.lists-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.list-scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 500px;
  width: 80%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-scroll::-webkit-scrollbar {
  display: none;
}


.dash-title span {
  color: #ff6584;
  margin: 15px 0px;
}

.dash-title {
  margin: 0px 0px 80px 0px;
}

.message-new-list {
  height: 200px;
  margin: 50px 0px;
  text-align: center;
}

.message-new-list p {
  margin: 10px 0px;
}


.button-with-icon {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #ff6584;
  border-radius: 15px;
  box-shadow: 2px 5px 8px hsla(60, 3%, 37%, 0.411);
  color: #ff6584;
  cursor: pointer;
  display: flex;
  gap: 40px;
  padding: 10px 20px;
  justify-content: center;
  width: 428px;
  height: 95px;
  margin: 15px 0px;
}


.button-with-icon:hover {
  background-color: #ff6584ad;
  color: #fff;
}


.button-with-icon span {
  font-size: 22px;
  font-weight: bold;
}


#plus {
  font-size: 40px;
}
