.list-details-container {
  display: flex;
}

.info-list-container {
  background-color: #9fe5dc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  width: 360px;
}

.info-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.info-content h2 {
  color: #606463;
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0px;
}

.info-image {
  background-color: #c2ece6a0;
  border-radius: 50%;
  box-shadow: 2px 5px 8px #61615c69;
  height: 180px;
  margin: 50px;
  overflow: hidden;
  width: 180px;
  padding: 30px;
}

.info-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-edit-delete {
  align-items: center;
  display: flex;
  justify-content: center;
}

.edit-btn {
  color: #008000;
}

.delete-btn {
  color: #ff0000;
}

.edit-btn,
.delete-btn {
  font-size: 30px;
  margin: 40px 10px;
  cursor: pointer;
}


.list-tasks-container {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  padding: 100px;
}

.container-list {
  padding: 50px;
}

.container-select select {
  cursor: pointer;
  margin: 0px 50px;
}


#data-dropdown {
  width: 32%;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #ff6584;
  background-color: transparent;
}

#data-dropdown option {
  padding: 20px;
}


.btn-add-task {
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 1000;
}

.icon-add-task {
  color: #ff6584;
  cursor: pointer;
  font-size: 85px;
}

.icon-add-task:disabled {
  color: #606463;
}

.icon-add-task:enabled:hover {
  color: #ff6584e0;
  font-size: 90px;
}


.tasks-list span {
  color: #606463;
  margin-top: 100px;
}

.tasks-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
