* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #edeff2;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #b6ebe4;
}
